*{
    margin: 0px;
    padding: 0px;
}

div.container-fluid{
    padding: 0;
}

#menu{
    background-color: white;
    padding: 10px 0;
    box-shadow: 1px 1px 8px 0px #ccc;
    position: relative;
}

#menu div.container{
    display: flex;
    justify-content: space-between;
    
    
}

#butao_menu{
    background-color: transparent;
    border: none;
    cursor: pointer; 
}

#butao_menu:focus{
    outline: none;
}

#butao_menu img{
   width: 60%;
}

a.brand{    
    padding: 3px;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Arial';
    color: #3e3e3e;
}

a.brand:hover{
    text-decoration: none;
    color: #3e3e3e;
}



