*{
    margin: 0px;
    padding: 0px;
}

.opacidade{
    opacity: .5;
    transition: all .4s ease-in;  
}

div.row{
    margin-left:0;
    margin-right: 0;
    padding: 0;
}

body{
    background-color:#ccc;
}

div.container-fluid{
    padding: 0;
}

#menu{
    background-color: white;
    padding: 10px 0;
    box-shadow: 1px 1px 8px 0px #ccc;
    position: relative;
    z-index: 1;
}

#menu div.container{
    display: flex;
    justify-content: space-between;
   
    
}

#butao_menu{
    background-color: transparent;
    border: none;
    cursor: pointer; 
}

#butao_menu:focus{
    outline: none;
}

#butao_menu img{
   width: 60%;
}

a.brand{    
    padding: 3px;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Arial';
    color: #3e3e3e;
}

a.brand:hover{
    text-decoration: none;
    color: #3e3e3e;
}

.fundo-menu{
    background-color: #000;
    opacity: 0.8;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    display: none;
    z-index: 2;
}

.menu-list{
    background-color: #000;
    height: 100vh;
    z-index: 999;
    color: #fff;
    width: 20%;
    position: absolute;
    top: 0;
    left:-20%;
}

#fechar{
    margin-top: 10px;
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
}

.menu-list ul{
    width: 100%;
    margin-top: 80px;
    text-align: center;
    padding: 0 10px;
}

.menu-list ul li{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border: solid white 1px;
}

.menu-list ul li a{
    color: #fff;
    text-transform: uppercase;
}

.menu-list ul li a:hover{
  text-decoration: none;
}

#primeira-sessao{
    height: 70vh;
    position: relative;
    top: 0;
    z-index: 0;
    background-image: url(../img/01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#primeira-sessao .container{
    position:relative;
}

#primeira-sessao .descricao{
    width: 50%;
    padding-left: 20px;
    position: absolute;
    right: 0;
    top: 150px;
}

#primeira-sessao .descricao h1{
    font-size: 6em;
    text-align: right;
    color: #fff;
    line-height: 1em;
}

#primeira-sessao .descricao p{
    font-size: 1em;
    text-align: right;
    margin: 30px 0 40px;
    line-height: 1.6;
    color: #fff;
    font-weight: 500;
}

#section-galeria{
    background-color: #34421e;
    position: relative;
}

.galeria{
    padding: 40px;
}


.galeria img{
    width: 100%;
    transition: all .4s ease-in; 
}

.galeria img:hover{
    cursor:pointer;
    transform: scale(1.1);
}

/*SECTION DREAM HOUSE*/
#dreamHouse{
    padding: 2em 0;
    
}

#dreamHouse h2{
    margin: 0 auto;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top:1em;
    color: #6b8549;
}

#dreamHouse .sessao-dream-house{
    color: #c09635;
    background-color: #34421e;    
}

#dreamHouse .sessao-dream-house img{
    width: 100%;
}

#dreamHouse .sessao-conteudo{
    display: flex;
    align-self: center; 
    
}

#dreamHouse .sessao-conteudo div{
    padding: 50px;   
}

#dreamHouse .sessao-conteudo h3{
    font-size: 2.5em;
    line-height: 1.5;
}

a.leiaMais{
    border-bottom: 1.5px solid #c09635;
    line-height: 1.5em;
    padding-bottom: 8px;
    cursor: pointer;
}

/*section what-we*/
.what-we{
    background-color: #c09635;
    padding: 3em !important;
}

.sessao-what-we{
    background-color:#fff;
}

.sessao-what-we div img{
    width: 100%;

}

.what-we-conteudo{
    display: flex;
    align-self: center; 
    
}

.what-we-conteudo div{
    padding: 50px;   
}

.what-we-conteudo h3{
    font-size: 2.5em;
    line-height: 1.5;
    color:#34421e;
    font-weight: 700;
}


.what-we-conteudo p{
    color:#34421e;
    line-height: 1.5;
    font-size: 1.2em;
}

/*SECTION ICONES*/

section#icones .container-fluid{
    background-color: #34421e;
    
}

section#icones .container{
    padding: 6em 0;
}


.icones{
    display: flex;
    flex-direction:column; 
    align-items: center;
}

.icones i{
    font-size: 5em;
    color: #fff;
    margin: 20px 0
}

.icones h4{
    color: #fff;
    font-size: 2em;
}

/*practicing*/
#practicing{
    background-color: #ccc;
}

#practicing .container{
    padding:6em 0;
}

#practicing .container p{
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.5;
}

.modal{
 background-color: rgba(0, 0, 0, .6)
}

.modal-header {
    padding: 1.5rem 1rem 1rem 1rem !important;
}

.modal-content i {
    cursor:pointer;
    right: 10px;
    position: absolute;
    top: 0;
    width: 25px;
    font-size: 37px;
}


@media(min-width: 992px) and (max-width: 1440px){
    #primeira-sessao .descricao h1{
        font-size: 5em;
        padding-left: 20%;
    }

    #primeira-sessao .descricao{
        top: 120px;
    }
    
}



